
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300;400;600&display=swap');
$accent:  #85CDC9;

.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.list {
  font-size: 1.5em;
  color: black;
  list-style-type: none;
  padding: 0%;
  width: 150%;
  .list-item {
    padding: 5px;
    text-align: center;
    cursor: pointer;
  }
  :hover {
    background-color: $accent;
    color: white;
  }
  .selected {
    background-color: $accent;
    color: white;
  }
}

.restaurant {
  margin: 50px;
  padding: 25px;
  text-align: center;
  border-radius: 25px;
  background-color: rgb(223, 226, 226);
  .rating {
    unicode-bidi: bidi-override;
    font-size: 35px;
    height: 35px;
    width: 100px;
    margin: 0 auto;
    margin-right: 48%;
    margin-bottom: 5%;
    position: relative;
    padding: 0;
    text-shadow: 0px 1px 0px;
    .top {
      color: $accent;
      padding: 0;
      position: absolute;
      z-index: 1;
      display: flex;
      top: 0;
      left: 0;
      overflow: hidden;
      width: 0%;
    }
    .bottom {
      padding: 0;
      display: flex;
      z-index: 0;
    }
  }
}

.current-partner {
  text-align: center;
  background-color: gainsboro;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 50px;
  width: auto;
  border-radius: 25px;
  
  h5 {
    padding: 10px;
    color: white;
    background-color: #846c9c;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  #profile {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }
}

.img {
  border-radius: 25px;
  border: 2px solid black;
}

.navbar {
  padding: 0px;
}

.navbar-brand {
  align-self: center;
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  margin-left: 1em;
}

.right {
  margin-right: 1em;
  font-size: 1.2rem;
}

.main-container {
  width: 80%;
  margin-top: 65px;
  margin-bottom: 65px;
}

.body {
  width: 100%;
  display: flex;
  justify-content: center;
}

.restaurant {
  margin-left: auto; 
  margin-right: auto;
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current-partner {
  width: 320px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10%;
  align-items: center;
}

.description {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}

.dropdown {
  margin-bottom: 20px
}

.user-badge {
  width: 100%;
}

.current-partner h5 {
  background-color: $accent; //USER BADGE
}

.carousel-inner {
  border-radius: 5%;
}

.content-card {
  background-color: #FDFEFD; // CARDS 
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.navbar-container {
  height: 75px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #0D1010; // NAVBAR
}

.col-lg-12 {
  display: flex;
  background-color: #FFFDFD; // MAIN CONTAINER
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

body {
  font-family: 'Quicksand', sans-serif;
}

.btn-primary {
  background-color: $accent !important;
  border-color: $accent !important;
}

.nav-item {
  cursor: pointer;
}

.quicksand {
  font-family: 'Quicksand', sans-serif !important;
}

.bold {
  font-weight: 600;
}

.invite {
  font-size: 1.25em !important;
  height: 50px;
  width: 150px;
}

.footer {
  background-color: black;
  text-align: center;
}

.new-partner-button {
  margin-top: 5px;
}

.modal-button {
  background-color: $accent !important;
}

.black-link {
  color: black;
}

.black-link:hover {
  text-decoration: none;
}

.carousel-button {
  color: $accent;
  height: 50px;
  width: 50px;
}

.matches {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.match-list {
  padding-inline-start: 0px;
  font-size: 1.5em;
}

.dropdown-toggle {
  font-size: 1.25em !important;
}

.dropdown-menu {
  font-size: 1.25em !important;
}

.form-label {
  font-size: 1.25em;
}

.footer-div {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
}